.article-content {
    .section--article-header {
        &.img {
            position: relative;
            height: 50vw;
            overflow: hidden;

            img {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }

            h1 {
                position: relative;
                z-index: 3;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .section--article-content {}
}

.home {
    .section--article-header {
        h1 {
            @include media($screen-sm) {
                position: relative;
            }


            z-index: 3;
            top: 50%;
            transform: translateY(-50%);

            @include media($max-sm) {
                position: absolute !important;
            }
        }
    }
}

.to-top {
    position: fixed;
    right: 2em;
    bottom: 2em;
    height: 40px;
    width: 40px;
    z-index: 9999999;
    transform: translateY(4.5em);
    transition: transform 0.2s $base-cubic;

    i {
        background-color: white;
        border-radius: 100%;
        display: inline-block;
        height: 40px;
        width: 40px;

        svg {}
    }

    &.showit {
        transform: translateY(0em);
        transition: transform 0.2s $base-cubic;
    }
}