.article-content {
    .section--article-header {
        &.img {
            position: relative;
            height: 50vw;
            overflow: hidden;

            img {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }

            h1 {
                position: absolute;

                @include media($screen-xs) {}

                @include media($screen-sm) {
                    position: relative;
                }


                @include media($screen-md) {}

                @include media($screen-lg) {}

                @include media($screen-xl) {}


                z-index: 3;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .article-h1 {}
    }

    .section--article-content {}
}