footer {
    .block--social {
        @include media($screen-sm) {
            float: right;
        }


        a {
            i {
                height: 30px;
                width: 30px;
                display: inline-block;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    height: 100%;
                }

                &.icon-social--facebook, &.icon-social--instagram {
                    svg {
                        path {
                            fill: map-get($orange, main);
                        }
                    }
                }
            }
        }
    }

    @include media($max-sm) {
        top: -1em;
        position: relative;
        .block--social {
            margin: 0 auto;
        }
    }
}