header {
    @include media($max-sm) {
        height: 50px;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 50px;
            background-color: white;
            z-index: 105;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        nav {
            position: absolute;
            top: 49px;
            background-color: map-get($blue, faded) !important;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: 99;
            padding: .5em 0;
            width: 100%;
            height: calc(100vh - 50px);
            transform: translateY(-110%);
            transition: transform 0.3s $base-cubic;
            overflow: auto;

            ul {
                li {
                    transition: transform 0.3s $base-cubic;
                    transform: translateY(-200%);
                    position: relative;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 1em 0;

                    a {
                        color: white !important;
                    }

                    &:nth-of-type(1) {
                        transition: transform 0.75s $base-cubic;
                        z-index: 60;
                    }

                    &:nth-of-type(2) {
                        transition: transform 0.7s $base-cubic;
                        z-index: 30;
                    }

                    &:nth-of-type(3) {
                        transition: transform 0.6s $base-cubic;
                        z-index: 20;
                    }

                    &:nth-of-type(4) {
                        transition: transform 0.5s $base-cubic;
                        z-index: 15;
                    }

                    &:nth-of-type(5) {
                        transition: transform 0.4s $base-cubic;
                        z-index: 12;
                    }

                    &:nth-of-type(6) {
                        transition: transform 0.3s $base-cubic;
                        z-index: 10;
                    }
                }
            }
        }

        // .hdr-logo-link {
        //     // width: 145px;
        //     // display: inline-block;
        //     // height: 50px;

        //     .icon-logo {
        //         width: 145px;
        //         display: inline-block;
        //         top: 50%;
        //         position: relative;
        //         transform: translateY(-50%);
        //         height: 27px;
        //         z-index: 106;
        //     }
        // }

        .menu--trigger {
            width: 16px;
            height: 16px;
            position: relative;
            display: block;
            -webkit-tap-highlight-color: transparent !important;
            top: 50%;
            transform: translateY(-50%);
            z-index: 106;

            span {
                height: 1px;
                width: 100%;
                border-bottom: 1px solid;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                display: block;
                opacity: 1;
                transition: opacity 0.3s $base-cubic;
            }

            &:after, &:before {
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                content: ' ';
                transform-origin: center;
                transform: translateY(0) rotate(0);
                transition: transform 0.3s $base-cubic;
            }

            &:before {
                border-top: 1px solid;
                top: 0;
            }

            &:after {
                border-bottom: 1px solid;
                bottom: 0;
            }
        }

        &.openmobile {
            .menu--trigger {
                background-color: transparent;

                &:after, &:before {
                    transition: transform 0.3s $base-cubic;
                }

                &:before {
                    transform: translateY(7.5px) rotate(45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    transform: translateY(-7.5px) rotate(-45deg);
                }

                span {
                    transition: opacity 0.15s $base-cubic;
                    opacity: 0;
                }
            }

            nav {
                transition: transform 0.4s $base-cubic;
                transform: translateY(0);

                ul {
                    li {
                        &:nth-of-type(1) {
                            transition: transform 0.75s $base-cubic;
                            z-index: 60;
                        }

                        &:nth-of-type(2) {
                            transition: transform 0.7s $base-cubic;
                            z-index: 30;
                        }

                        &:nth-of-type(3) {
                            transition: transform 0.6s $base-cubic;
                            z-index: 20;
                        }

                        &:nth-of-type(4) {
                            transition: transform 0.5s $base-cubic;
                            z-index: 15;
                        }

                        &:nth-of-type(5) {
                            transition: transform 0.4s $base-cubic;
                            z-index: 12;
                        }

                        &:nth-of-type(6) {
                            transition: transform 0.3s $base-cubic;
                            z-index: 10;
                        }

                        transform: translateY(0);
                    }
                }
            }
        }

        body {
            &.openmobile {
                position: fixed;
            }
        }
    }
}