nav {
    @include media($screen-sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    ul {
        list-style-type: none;
        margin: 0;

        li {
            margin-left: 0;
            display: inline-block;

            &.nav-item {
                position: relative;

                &:hover {
                    .nav-drop {
                        border: 1px solid;
                        transition: opacity 0.2s $base-cubic, border 0.2s $base-cubic;
                        opacity: 1;
                    }
                }

                &.current-menu-item {
                    a {
                        color: map-get($blue, main);
                        border-bottom: 2px solid;
                    }
                }

                a {
                    transition: color 0.2s $base-cubic, border 0.2s $base-cubic;
                }

                &:hover {
                    a {
                        transition: color 0.2s $base-cubic, border 0.2s $base-cubic;
                        color: map-get($blue, faded);
                        border-bottom: 1px solid;
                    }
                }

                &.boxed {
                    border: 1px solid;
                    padding: 0.2em 0.5em;
                    background-color: transparent;
                    transition: background-color 0.2s $base-cubic, border-color 0.2s $base-cubic;

                    a {
                        transition: color 0.2s $base-cubic;
                    }

                    &:hover, &.current_page_item {
                        transition: background-color 0.2s $base-cubic, border-color 0.2s $base-cubic;
                        background-color: transparentize(map-get($blue, faded), 0.7);
                        border-color: transparent;

                        a {
                            transition: color 0.2s $base-cubic;
                            color: white;
                            border: none;
                        }
                    }
                }
            }

            .nav-drop {
                display: inline-block;
                position: absolute;
                text-align: center;
                top: 2em;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                overflow: hidden;
                border: 0;
                transition: opacity 0.2s $base-cubic, border 0.2s $base-cubic;

                li {
                    a {
                        padding: 0.4em 0.6em;
                        display: block;
                        transition: color 0.2s $base-cubic;
                    }

                    transition: background-color 0.2s $base-cubic;
                    display: block;

                    &:hover {
                        a {
                            color: white;
                            transition: color 0.2s $base-cubic;
                        }

                        transition: background-color 0.2s $base-cubic;
                        background-color: map-get($orange, main);
                    }
                }
            }
        }
    }
}