// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$color: (
	faded: 			#000000,
	main: 			#000000,
	dark: 			#000000,
);

$blue:(
	faded: 			#7d868c,
	main:			#1e2b45,
);

$orange:(
	main:			#d8a380,
);

$footergray: 		#f5f3ef;
$gray: 				#d8d2c4;
$fadedgray: 		#c4c3c3;
$brownishgray:		#f2f0eb;


// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)