nav {
    .block--social {
        a {
            i {
                height: 14px;
                width: 25px;
                display: inline-block;
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    height: 100%;
                }
            }
        }
    }
}