.button {
    color: white;

    @extend .bg--blue;

    padding: .5em 1em;
    font-size: .85em;
    letter-spacing: .5px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: table;
    transition: background-color 0.2s $base-cubic;

    &:hover {
        transition: background-color 0.2s $base-cubic;

        &.bg--blue {
            background-color: transparentize(map-get($blue, main), 0.1);
        }
    }
}