.button {
    color: white;

    @extend .bg--blue;

    padding: .5em 1em;
    font-size: .85em;
    letter-spacing: .5px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: table;
}