.section--services {
    .block--service {
        transition: background-color 0.2s $base-cubic, border 0.2s $base-cubic;

        @include media($screen-sm) {
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 60px;
                width: 60px;
                background-color: transparent;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                transition: background-color 0.2s $base-cubic;
            }
        }


        &.active {
            transition: background-color 0.2s $base-cubic, border 0.2s $base-cubic;
            background-color: $brownishgray;
            border-color: $brownishgray;

            &:after {
                background-color: $brownishgray;
                transition: background-color 0.3s $base-cubic;
            }
        }
    }

    .block--service-content {
        width: 100%;
        display: none;
        opacity: 0;
        transition: opacity 0.2s $base-cubic;

        &.expanded {
            transition: opacity 0.2s $base-cubic;
            opacity: 1;
            display: block;
        }

        .block--step-icons {
            .step--title {
                cursor: pointer;

                i {
                    display: inline-block;
                    width: 100%;
                    max-width: 145px;
                    margin-bottom: 0.5em;

                    svg {
                        width: 100%;

                        circle {
                            transition: fill 0.2s $base-cubic, stroke 0.2s $base-cubic;
                        }

                        path {
                            transition: fill 0.2s $base-cubic, stroke 0.2s $base-cubic;
                        }
                    }

                    &.right {
                        transform: rotateY(180deg);
                    }
                }

                p {
                    transition: color 0.2s $base-cubic;
                    line-height: 1.2;
                }

                span {}

                &.active {
                    i {
                        svg {
                            circle {
                                transition: fill 0.2s $base-cubic, stroke 0.2s $base-cubic;
                                fill: map-get($blue, main);
                                stroke: transparent;
                            }

                            path {
                                transition: fill 0.2s $base-cubic, stroke 0.2s $base-cubic;

                                &:nth-of-type(2) {
                                    stroke: white;
                                }

                                &:nth-of-type(1) {
                                    fill: white;
                                }
                            }
                        }
                    }

                    p {
                        transition: color 0.2s $base-cubic;
                        color: map-get($blue, main);
                    }
                }
            }
        }

        .block--step-content {
            @include media($screen-sm) {
                display: none;
            }


            opacity: 0;
            transition: opacity 0.2s $base-cubic;

            &.expanded {
                transition: opacity 0.2s $base-cubic;
                opacity: 1;
                display: block;
            }
        }
    }

    .block--service {
        @include media($max-sm) {
            border-top: 0;
            font-size: .9em;

            &:first-of-type {
                border-top: 1px solid;
            }

            .step--title {
                i {
                    width: 70px;
                    margin: 0 auto;
                    display: table;
                    margin-top: 2em;

                    // svg {
                    //     circle {
                    //         fill: map-get($blue, main);
                    //         stroke: transparent;
                    //     }

                    //     path {
                    //         &:nth-of-type(2) {
                    //             stroke: white;
                    //         }

                    //         &:nth-of-type(1) {
                    //             fill: white;
                    //         }
                    //     }
                    // }
               
                }
            }
        }
    }
}

.block--service-steps-mob {
    display: none;
    opacity: 0;
    transition: opacity 0.2s $base-cubic;

    &.expanded {
        transition: opacity 0.2s $base-cubic;
        opacity: 1;
        display: block;
    }
}