.section--home-about {
    p {
        margin-bottom: 1.5em;
    }

    .wrap--before-after {
        @include media($screen-sm) {
            display: flex;
        }
    }

    .block--before-after {
        position: relative;

        .img-wrap {
            @include media($max-sm) {
                width: 100%;
            }


            // width: calc(100% - 1em);
            // float: right;
       
        }
    }

    .text--vertical {
        font-size: 0.9em;
        position: absolute;
        display: inline-block;
        background: rgb(246, 244, 241);
        transform: rotate(-90deg) translateX(-30%);
        transition: transform 0.2s $base-cubic, left 0.2s $base-cubic;

        &.before {
            left: -3em;
        }

        &.after {
            left: -2.5em;
        }

        @include media($max-sm) {
            transition: transform 0.2s $base-cubic, left 0.2s $base-cubic;
            left: 50% !important;
            padding: 0.2em 0.9em;
            transform: translateX(-50%);
            font-weight: 600 !important;
            letter-spacing: 1px;
        }
    }
}