.section--instagram {
    @include media($screen-sm) {
        .title {
            transform: rotate(-90deg);
            margin-right: -15vw;
            font-size: 0.8em;
            left: 2vw;
            position: relative;
        }
    }


    a {
        @include media($screen-sm) {
            &:first-of-type {
                margin-left: 5vw;
            }

            flex-basis: calc(100% / 6);
            width: calc(100% / 6);
        }


        img {}
    }

    @include media($max-sm) {
        position: relative;
        top: -1em;
        .title {
            flex-basis: 100%;
            display: block;
            color: $base-font-color;
            margin-bottom: .5em;
        }

        a {
            &:last-of-type {
                display: none !important;
            }
        }

        justify-content: space-between;
    }
}