.section--home-meet {
    position: relative;

    @include media($screen-sm) {
        min-height: 50vw;
        overflow: hidden;
    }


    @include media($screen-md) {
        min-height: 45vw;
    }


    img {
        @include media($screen-sm) {
            position: absolute;
        }


        bottom: 0;
        left: 0;
        width: 100%;
    }

    .block--content {
        position: relative;
        z-index: 99;

        @include media($screen-sm) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }


        @include media($screen-md) {
            left: auto;
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
        }


        @include media($max-sm) {
            width: 90%;
            margin: 0 auto;
            top: -3em;
        }
    }

    @include media($max-sm) {
        background-color: transparentize($gray, 0.76);
    }
}