<section class="section--make-appointment bg--footergray grid--three-fourths  grid--md-half  spacing--horiz-2 spacing--dsk-horiz-3 spacing--vert-3">
	<a class="trigger--appointment text--right font--smaller">close <strong class="">x</strong></a>
	<div class="content">
		<h5 class="text--uppercase font--smaller font--bold">Cancelation Terms</h5>
		Ut et tempor sunt culpa elit commodo qui duis aliqua reprehenderit minim do in ut aliquip irure nisi incididunt nisi tempor ea laborum eiusmod ut elit occaecat enim commodo tempor nisi esse esse est dolor veniam sit eiusmod enim fugiat irure sint veniam cillum ut ut elit exercitation aliqua consequat nisi veniam aute esse incididunt incididunt commodo esse labore aute velit deserunt sit laboris eiusmod cupidatat pariatur incididunt eiusmod id sunt officia qui deserunt deserunt et fugiat qui amet consequat occaecat et deserunt cupidatat duis ut ullamco dolor irure aliqua commodo ut reprehenderit dolore cupidatat in velit eiusmod reprehenderit cupidatat labore reprehenderit aliquip esse sunt magna adipisicing aliqua mollit culpa incididunt in amet proident eiusmod sed eiusmod in aliqua non dolore eiusmod voluptate ut anim occaecat officia ullamco amet labore qui nulla dolore in consequat eiusmod cillum aliquip irure deserunt dolore deserunt sint fugiat dolor cillum culpa reprehenderit sunt irure do in fugiat culpa sint veniam proident sunt ut incididunt mollit esse mollit veniam fugiat ut minim proident ad quis minim nostrud ut dolor velit magna qui sunt aliqua adipisicing incididunt deserunt minim consequat dolore sunt exercitation ex exercitation in ut mollit nostrud ut nulla sed adipisicing nostrud labore eiusmod in consectetur aliqua dolor fugiat ea deserunt cupidatat in nisi do ut esse incididunt consequat exercitation dolor aliquip in minim minim elit ut voluptate minim amet.
	</div>
	<div class="contact">
		<strong>How to </strong>
		<p>lorem</p>
		<strong>How to </strong>
		<p>lorem</p>
	</div>
	<br>
	<a href="" class="button accept">Accept</a>
</section>