<div class="block--social flex flex--wrap justify--between align--items-center spacing--horiz-1 hidden--mob">
	{% if options.social.facebook %}<a href="{{options.social.facebook}}" target="_blank" title="Highbrow on Facebook"><i class="icon-social--facebook" data-grunticon-embed></i></a>{% endif %}
	{% if options.social.instagram %}<a href="{{options.social.instagram}}" target="_blank" title="Highbrow on Instagram"><i class="icon-social--instagram" data-grunticon-embed></i></a>{% endif %}
	{% if options.social.yelp %}<a href="{{options.social.yelp}}" target="_blank" title="Highbrow on Yelp"><i class="icon-social--yelp" data-grunticon-embed></i></a>{% endif %}
</div>