
	<div class="block--service-steps-mob step--title hidden--dsk text--left" id="service-{{loop.index}}">
		{% for step in service.steps %}
		<i class="{{step.icon_class}}" data-grunticon-embed></i>
		<h4 class="text--uppercase font--bold">{{step.description_title}}</h4>
		{{step.description_content}}
		<a href="" class="trigger--appointment button">Book Appointment</a>
		{% endfor %}
	</div>
