.fullimg {
    width: 100%;
    max-width: 100%;
}

img {
    max-width: 100%;
}

.screenreadersonly {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.clear{
	clear:both;
}